/* /* .watch{
    border: 2px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
} */

/* .big{
    background-color: aqua;
}
.font{
    font-size: large;
} */ 